
// NOTE: Any style in this file will affect all pages

@base: #f4f4f4;
@baseTransparent: rgba(255, 255, 255, 0.5);
@baseTransparentLess: rgba(255, 255, 255, 0.8);
@baseTransparentMore: rgba(255, 255, 255, 0.3);
@baseContrast: black;
@primary: #08F;
@primaryContrast: white;
@secondary: #2FE96F;
@secondaryContrast: white;
@hover: #2FE9C8; // #2FE96F
@hoverContrast: black;
